.select2-offscreen,
.select2-offscreen:focus
    clip rect(0 0 0 0) !important
    width 1px !important
    height 1px !important
    border 0 !important
    margin 0 !important
    padding 0 !important
    overflow hidden !important
    position absolute !important
    outline 0 !important
    left 0px !important
    top 0px !important

.select2-measure-scrollbar
    position absolute
    top -10000px
    left -10000px
    width 100px
    height 100px
    overflow scroll

.select2-display-none
    display none

.select2-hidden-accessible
    border 0
    clip rect(0 0 0 0)
    height 1px
    margin -1px
    overflow hidden
    padding 0
    position absolute
    width 1px
